{#
  ~ Copyright (c) 2020 Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
#}

{#
    Expect installments, with all payment methods, the transaction ID has been already provided to the frontend.
    We need the set the transaction ID after the runtime has been selected.
#}
{% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/common/transaction-id.html.twig' with {'transactionId': ratepay.installment.transactionId } %}
<input type="hidden" name="ratepay[profile_uuid]" value="{{ ratepay.installment.plan.profileUuid }}" form="confirmOrderForm" />
<input type="hidden" name="ratepay[installment][hash]" id="rp-calculation-hash" value="{{ ratepay.installment.plan.hash }}" form="confirmOrderForm" />

<div class="rp-installment-plan-container">
    <table class="table table-striped">
        <tr>
            <td class="text-center text-uppercase headline" colspan="2">
                {{ ratepay.installment.translations.rp_personal_calculation|raw }}
            </td>
        </tr>

        <tr>
            <td colspan="2" class="small text-right">
                <span class="rp-link d-block" id="rp-show-installment-plan-details">
                    {{ ratepay.installment.translations.rp_showInstallmentPlanDetails|raw }} <i class="icon-arrow-head-down"></i>
                </span>
                <span class="rp-link d-none" id="rp-hide-installment-plan-details">
                    {{ ratepay.installment.translations.rp_hideInstallmentPlanDetails|raw }} <i class="icon-arrow-head-uo"></i>
                </span>
            </td>
        </tr>

        <tr class="rp-installment-plan-details d-none">
            <td class="rp-installment-plan-title">
                {{ ratepay.installment.translations.rp_cash_payment_price|raw }}
                <p class="rp-installment-plan-description small">{{ ratepay.installment.translations.rp_mouseover_cash_payment_price|raw }}</p>
            </td>
            <td class="text-right">
                {{ ratepay.installment.plan.amount }} &euro;
            </td>
        </tr>

        <tr class="rp-installment-plan-details d-none">
            <td class="rp-installment-plan-title">
                {{ ratepay.installment.translations.rp_service_charge|raw }}
                <p class="rp-installment-plan-description small">{{ ratepay.installment.translations.rp_mouseover_service_charge|raw }}</p>
            </td>
            <td class="text-right">
                {{ ratepay.installment.plan.serviceCharge }} &euro;
            </td>
        </tr>

        <tr class="rp-installment-plan-details d-none">
            <td class="rp-installment-plan-title">
                {{ ratepay.installment.translations.rp_effective_rate|raw }}
                <p class="rp-installment-plan-description small">{{ ratepay.installment.translations.rp_mouseover_effective_rate|raw }}</p>
            </td>
            <td class="text-right">
                {{ ratepay.installment.plan.annualPercentageRate }} %
            </td>
        </tr>

        <tr class="rp-installment-plan-details d-none">
            <td class="rp-installment-plan-title">
                {{ ratepay.installment.translations.rp_debit_rate|raw }}
                <p class="rp-installment-plan-description small">{{ ratepay.installment.translations.rp_mouseover_debit_rate|raw }}</p>
            </td>
            <td class="text-right">
                {{ ratepay.installment.plan.monthlyDebitInterest }} %
            </td>
        </tr>
        <tr class="rp-installment-plan-details d-none">
            <td class="rp-installment-plan-title">
                {{ ratepay.installment.translations.rp_interest_amount|raw }}
                <p class="rp-installment-plan-description small">{{ ratepay.installment.translations.rp_mouseover_interest_amount|raw }}</p>
            </td>
            <td class="text-right">
                {{ ratepay.installment.plan.interestAmount }} &euro;
            </td>
        </tr>

        <tr class="rp-installment-plan-details separator d-none">
            <td colspan="2"></td>
        </tr>

        <tr>
            <td class="rp-installment-plan-title">
                {{ ratepay.installment.plan.numberOfRatesFull|raw }} {{ ratepay.installment.translations.rp_monthly_installment_pl|raw }} {{ ratepay.installment.translations.rp_each|raw }}
                <p class="rp-installment-plan-description small">{{ ratepay.installment.translations.rp_mouseover_duration_month|raw }}</p>
            </td>
            <td class="text-right">
                {{ ratepay.installment.plan.rate }} &euro;
            </td>
        </tr>

        <tr>
            <td class="rp-installment-plan-title">
                1.&nbsp;-&nbsp;{{ ratepay.installment.plan.numberOfRatesFull - 1 }}. {{ ratepay.installment.translations.rp_monthly_installment_sg|raw }} {{ ratepay.installment.translations.rp_each|raw }}
                <p class="rp-installment-plan-description small">{{ ratepay.installment.translations.rp_mouseover_duration_month|raw }}</p>
            </td>
            <td class="text-right">
                {{ ratepay.installment.plan.rate }} &euro;
            </td>
        </tr>

        <tr>
            <td class="rp-installment-plan-title">
                {{ ratepay.installment.plan.numberOfRatesFull }}. {{ ratepay.installment.translations.rp_monthly_installment_sg|raw }}
                <p class="rp-installment-plan-description small">{{ ratepay.installment.translations.rp_mouseover_last_rate|raw }}</p>
            </td>
            <td class="text-right">
                {{ ratepay.installment.plan.lastRate }} &euro;
            </td>
        </tr>

        <tr>
            <td class="rp-installment-plan-title">
                {{ ratepay.installment.translations.rp_total_amount|raw }}
                <p class="rp-installment-plan-description small">{{ ratepay.installment.translations.rp_mouseover_total_amount|raw }}</p>
            </td>
            <td class="text-right">
                {{ ratepay.installment.plan.totalAmount }} &euro;
            </td>
        </tr>
    </table>
</div>

<div id="rp-installment-payment-switch" data-ratepay-installment-payment-switch="true">
    {% set code_directDebit = constant('Ratepay\\RpayPayments\\Components\\ProfileConfig\\Model\\ProfileConfigMethodInstallmentEntity::PAYMENT_TYPE_DIRECT_DEBIT') %}
    {% set code_bankTransfer = constant('Ratepay\\RpayPayments\\Components\\ProfileConfig\\Model\\ProfileConfigMethodInstallmentEntity::PAYMENT_TYPE_BANK_TRANSFER') %}

    <input type="radio"
           name="ratepay[installment][paymentType]"
           class="rp__installment__paymentType"
           id="rp__installment__paymentType_directDebit"
           value="{{ code_directDebit }}"
           form="confirmOrderForm"
           {% if ratepay.installment.plan.payment.default == code_directDebit %}checked="checked"{% endif %}
    />
    <input type="radio"
           name="ratepay[installment][paymentType]"
           class="rp__installment__paymentType"
           id="rp__installment__paymentType_bankTransfer"
           value="{{ code_bankTransfer }}"
           form="confirmOrderForm"
           {% if ratepay.installment.plan.payment.default == code_bankTransfer %}checked="checked"{% endif %}
    />

    {% if ratepay.installment.plan.payment.directDebitAllowed %}
        {# only show sepa form if the payment method is available #}
        <div class="row" id="rp-sepa-form">
            <div class="col-md-12">
                <hr>
                {% sw_include '@RpayPayments/storefront/installment-calculator/bank-account.html.twig' %}
            </div>
        </div>
    {% endif %}

    {# only show the switch if also bank transfer is available #}
    {% if ratepay.installment.plan.payment.bankTransferAllowed and ratepay.installment.plan.payment.directDebitAllowed %}
        <div class="row">
            <div class="col-md-12">
                <hr>
                <div class="rp__installment__paymentType-switch" id="rp__installment__paymentType_bankTransfer-switch">
                    <a href="javascript:" class="rp-link">
                        <label for="rp__installment__paymentType_bankTransfer">{{ ratepay.installment.translations.rp_switch_payment_type_bank_transfer|raw }}</label>
                    </a>
                </div>
                <div class="rp__installment__paymentType-switch" id="rp__installment__paymentType_directDebit-switch">
                    <a href="javascript:" class="rp-link">
                        <label for="rp__installment__paymentType_directDebit">{{ ratepay.installment.translations.rp_switch_payment_type_direct_debit|raw }}</label>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</div>

