{#
~ Copyright (c) Ratepay GmbH
~
~ For the full copyright and license information, please view the LICENSE
~ file that was distributed with this source code.
#}

{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_product_table %}
    {% if (page.extensions.ratepay) %}
        <div class="ratepay--billing-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="card checkout-card">
                        <div class="card-body">
                            <div class="card-title">
                                {{ context.paymentMethod.translated.name }}
                            </div>
                            <div class="card-body">
                                {% block ratepay_payment_fields %}
                                    {% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/'~page.extensions.ratepay.paymentMethod~'.html.twig' %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if page.extensions.ratepay.dfp %}
            <input type="hidden" name="ratepay[deviceIdentToken]" value="{{ page.extensions.ratepay.dfp.deviceIdentToken }}" form="confirmOrderForm"/>
            {% if app.session.get('twig-ratepay-dfp') != page.extensions.ratepay.dfp.deviceIdentToken %}
                {{ app.session.set('twig-ratepay-dfp', page.extensions.ratepay.dfp.deviceIdentToken) }}
                {{ page.extensions.ratepay.dfp.html|raw }}
            {% endif %}
        {% endif %}
    {% endif %}
    {{ parent() }}

{% endblock %}
