{#
  ~ Copyright (c) Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
#}

{% block ratepay_profile_config_detail %}
    <sw-page class="ratepay-profile-config-detail">
        <template #smart-bar-actions>
            <sw-button :router-link="{ name: 'ratepay.profile.config.list' }">
                {{ $t('ratepay.profileConfig.page.detail.cancelButtonText') }}
            </sw-button>

            <sw-button-process
                :is-loading="isLoading"
                :process-success="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
                {{ $t('ratepay.profileConfig.page.detail.saveButtonText') }}
            </sw-button-process>

            <sw-button-process
                v-if="entity && entity.isNew() === false && entity.status"
                :key="entity.status"
                :is-loading="isLoading"
                :process-success="processSuccess"
                variant="primary"
                :disabled="disabledReloadButton"
                @click="onClickReloadConfig">
                {{ $t('ratepay.profileConfig.page.detail.reloadConfig') }}
            </sw-button-process>
        </template>

        <template #content>
            <sw-card-view>
                <sw-card v-if="entity" :is-loading="isLoading" position-identifier="ratepay-profile-edit">
                    <sw-text-field @update:value="lockReloadButton" :label="$t('ratepay.profileConfig.global.labels.profile_id')" v-model:value="entity.profileId" required></sw-text-field>
                    <sw-password-field type="password" @change="lockReloadButton" :label="$t('ratepay.profileConfig.global.labels.security_code')" v-model:value="entity.securityCode" required></sw-password-field>
                    <sw-switch-field @update:value="lockReloadButton" :label="$t('ratepay.profileConfig.global.labels.sandbox')" v-model:value="entity.sandbox"></sw-switch-field>
                    <sw-switch-field @update:value="lockReloadButton" :label="$t('ratepay.profileConfig.global.labels.onlyAdminOrders')" v-model:value="entity.onlyAdminOrders"></sw-switch-field>

                    <sw-entity-single-select
                        @update:value="lockReloadButton"
                        entity="sales_channel"
                        :label="$t('ratepay.profileConfig.global.labels.sales_channel')"
                        v-model:value="entity.salesChannelId"
                        label-property="name"
                        required
                    >
                    </sw-entity-single-select>

                </sw-card>

                <sw-card v-if="entity && entity.status" :is-loading="isLoading" position-identifier="ratepay-profile-details">
                    <sw-tabs default-item="general" position-identifier="ratepay-profile-details-tabs">
                        <template #default="{ active }">
                            <sw-tabs-item :active-tab="active" name="general">
                                {{ $t('ratepay.profileConfig.page.tabs.general.title') }}
                            </sw-tabs-item>

                            <sw-tabs-item v-for="config in entity.paymentMethodConfigs" :active-tab="active" :name="config.paymentMethod.id" :key="config.id">
                                {{ config.paymentMethod.name }}
                            </sw-tabs-item>
                        </template>

                        <template #content="{ active }">
                            <table style="text-align: left;" v-show="active === 'general'">
                                <tbody>
                                <tr>
                                    <th>{{ $t('ratepay.profileConfig.page.tabs.general.table.label.countryCodeBilling') }}</th>
                                    <td>{{ entity.countryCodeBilling.join(', ') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('ratepay.profileConfig.page.tabs.general.table.label.countryCodeDelivery') }}</th>
                                    <td>{{ entity.countryCodeDelivery.join(', ') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('ratepay.profileConfig.page.tabs.general.table.label.currency') }}</th>
                                    <td>{{ entity.currency.join(', ') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('ratepay.profileConfig.page.tabs.general.table.label.errorDefault') }}</th>
                                    <td>{{ entity.errorDefault }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('ratepay.profileConfig.page.tabs.general.table.label.updatedAt') }}</th>
                                    <td>{{ dateFilter(entity.updatedAt, {hour: '2-digit', minute: '2-digit'}) }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <table style="text-align: left;"
                                   v-for="config in entity.paymentMethodConfigs" v-show="active === config.paymentMethod.id">
                                <tbody>
                                    <tr>
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.allowB2b') }}</th>
                                        <td>{{ config.allowB2b ? $t('global.default.yes') : $t('global.default.no') }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.limitMin') }}</th>
                                        <td>{{ config.limitMin }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.limitMax') }}</th>
                                        <td>{{ config.limitMax }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.limitMaxB2b') }}</th>
                                        <td>{{ config.limitMaxB2b }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.allowDifferentAddresses') }}</th>
                                        <td>{{ config.allowDifferentAddresses ? $t('global.default.yes') : $t('global.default.no') }}</td>
                                    </tr>
                                    <tr v-if="config.installmentConfig">
                                        <th colspan="2" style="padding-top: 15px; border-bottom: 1px solid #ccc;">{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.installmentHeading') }}</th>
                                    </tr>
                                    <tr v-if="config.installmentConfig">
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.installment.allowedMonths') }}</th>
                                        <td>{{ config.installmentConfig.allowedMonths.join(', ') }}</td>
                                    </tr>
                                    <tr v-if="config.installmentConfig">
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.installment.isBankTransferAllowed') }}</th>
                                        <td>{{ config.installmentConfig.isBankTransferAllowed ? $t('global.default.yes') : $t('global.default.no') }}</td>
                                    </tr>
                                    <tr v-if="config.installmentConfig">
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.installment.isDebitAllowed') }}</th>
                                        <td>{{ config.installmentConfig.isDebitAllowed ? $t('global.default.yes') : $t('global.default.no') }}</td>
                                    </tr>
                                    <tr v-if="config.installmentConfig">
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.installment.defaultPaymentType') }}</th>
                                        <td>{{ config.installmentConfig.defaultPaymentType }}</td>
                                    </tr>
                                    <tr v-if="config.installmentConfig">
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.installment.rateMin') }}</th>
                                        <td>{{ config.installmentConfig.rateMin }}</td>
                                    </tr>
                                    <tr v-if="config.installmentConfig">
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.installment.defaultInterestRate') }}</th>
                                        <td>{{ config.installmentConfig.defaultInterestRate }}</td>
                                    </tr>
                                    <tr v-if="config.installmentConfig">
                                        <th>{{ $t('ratepay.profileConfig.page.paymentConfig.table.label.installment.serviceCharge') }}</th>
                                        <td>{{ config.installmentConfig.serviceCharge }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </template>
                    </sw-tabs>
                </sw-card>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}
