{#
  ~ Copyright (c) 2020 Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
#}

{% block ratepay_personal_data_bank_account %}

    {% block ratepay_personal_data_bank_account_title %}
        <div class="form-row">
            <div class="form-group col-sm-12">
                <label class="form-label">
                    <strong>{{ "document.bankAccount"|trans|sw_sanitize }}</strong>
                </label>
            </div>
        </div>
    {% endblock %}

    {% block ratepay_personal_data_bank_account_legal %}
        <div class="form-row">
            <div class="form-group col-sm-12">
                {% sw_include '@RpayPayments/storefront/page/checkout/ratepay/common/sepa-legal.html.twig' %}
            </div>
        </div>
    {% endblock %}

    {% block ratepay_personal_data_bank_account_fields %}
        <div class="form-row">
            <div class="form-group col-sm-4">
                <label class="form-label" for="rp-iban-account-holder">
                    <strong>{{ "ratepay.storefront.checkout.fields.accountHolder"|trans|sw_sanitize }}</strong>
                </label>
                {% if ratepay.accountHolders|length == 1 %}
                    <input type="text"
                           class="form-control{% if formViolations.getViolations('/ratepay/bankData/accountHolder') is not empty %} is-invalid{% endif %}"
                           id="rp-iban-account-holder"
                           placeholder="{{ "ratepay.storefront.checkout.fields.accountHolder"|trans|sw_sanitize }}"
                           value="{{ ratepay.accountHolders[0] }}"
                           name="ratepay[bankData][accountHolder]"
                           form="confirmOrderForm"
                           readonly
                           required="required"
                    >
                {% else %}
                    <select class="form-control{% if formViolations.getViolations('/ratepay/bankData/accountHolder') is not empty %} is-invalid{% endif %}"
                           id="rp-iban-account-holder"
                           name="ratepay[bankData][accountHolder]"
                           form="confirmOrderForm"
                           required="required"
                    >
                        {% for name in ratepay.accountHolders %}
                            <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
            <div class="form-group col-sm-4">
                <label class="form-label" for="rp-iban-account-number">
                    <strong>{{ "ratepay.storefront.checkout.fields.iban"|trans|sw_sanitize }}</strong>
                </label>
                <input
                    type="text"
                    class="form-control{% if formViolations.getViolations('/ratepay/bankData/iban') is not empty %} is-invalid{% endif %}"
                    id="rp-iban-account-number"
                    placeholder="{{ "ratepay.storefront.checkout.fields.iban"|trans|sw_sanitize }}"
                    name="ratepay[bankData][iban]"
                    form="confirmOrderForm"
                    required="required"
                >
            </div>
        </div>
    {% endblock %}

    {% block ratepay_personal_data_bank_account_sepa_confirm %}
        <div class="form-row">
            <div class="form-group col-sm-12">
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input {% if formViolations.getViolations('/ratepay/bankData/sepaConfirmation') is not empty %} is-invalid{% endif %}"
                           required="required"
                           id="rp-sepa-confirmation"
                           form="confirmOrderForm"
                           name="ratepay[bankData][sepaConfirmation]"
                    >
                    <label for="rp-sepa-confirmation" class="form-check-label">
                        {% block ratepay_personal_data_bank_account_sepa_confirm_text %}
                            <p>{{ "ratepay.storefront.checkout.hints.sepaAuthorize"|trans|sw_sanitize }}</p>
                            <p>{{ "ratepay.storefront.checkout.hints.sepaAuthorizeNote"|trans|sw_sanitize }}</p>
                        {% endblock %}
                    </label>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
