{#
  ~ Copyright (c) 2020 Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
#}

{% set ratepay = page.extensions.ratepay %}

<script type="text/javascript">
    {%  if activeRoute == 'frontend.account.edit-order.page' %}
        window.rpInstallmentCalculateUrl = '{{ url('ratepay.storefront.installment.calculate') }}/{{ page.order.id }}';
    {% else %}
        window.rpInstallmentCalculateUrl = '{{ url('ratepay.storefront.installment.calculate') }}';
    {% endif %}
</script>

<div class="installment-calculator" data-ratepay-installment="true">
    <input type="hidden" name="ratepay[installment][type]" id="rp-calculation-type" value="{{ ratepay.installment.calculator.defaults.type }}" form="confirmOrderForm" />
    <input type="hidden" name="ratepay[installment][value]" id="rp-calculation-value" value="{{ ratepay.installment.calculator.defaults.value }}" form="confirmOrderForm" />

    <div class="rp-container-calculator">
        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        {% if ratepay.installment.calculator.rp_allowedMonths|length > 1 %}
            <div class="row">
                <div class="col-md-12">
                    {{ "ratepay.storefront.checkout.installment.intro"|trans|sw_sanitize }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center" id="firstInput">
                            <h2>{{ ratepay.installment.translations.rp_runtime_title|raw }}</h2>
                            {{ ratepay.installment.translations.rp_runtime_description|raw }}
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <select id="rp-btn-runtime" class="custom-select form-select">
                                    {% for month in ratepay.installment.calculator.rp_allowedMonths %}
                                        <option value="{{ month }}" {% if loop.first %}selected="selected"{% endif %}>
                                            {{ month }} {{ ratepay.installment.translations.rp_monthly_installment_pl }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center" id="secondInput">
                            <h2>{{ ratepay.installment.translations.rp_rate_title|raw }}</h2>
                            {{ ratepay.installment.translations.rp_rate_description|raw }}
                        </div>

                        <div class="panel-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                </div>
                                <input type="number" id="rp-rate-value" class="form-control" aria-label="Amount" min="{{ ratepay.installment.calculator.rp_minimumRate }}" max="{{ ratepay.installment.calculator.rp_maximumRate }}" />
                                <div class="input-group-append">
                                    <button id="rp-rate-button" class="btn btn-outline-primary rp-btn-rate" type="button" disabled>{{ ratepay.installment.translations.rp_calculate_rate|raw }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12" id="rp-result-container">
            {% sw_include '@RpayPayments/storefront/installment-calculator/installment-plan.html.twig' %}
        </div>
    </div>
</div>
