<table class="rp-sepa-table small">
    <tr>
        <td>{{ "ratepay.storefront.checkout.hints.sepaLegal.companyName"|trans }}</td>
        <td>{{ "ratepay.storefront.checkout.hints.sepaLegal.companyAddress"|trans }}</td>
    </tr>
    <tr>
        <td>{{ "ratepay.storefront.checkout.hints.sepaLegal.creditorLabel"|trans }}</td>
        <td>{{ "ratepay.storefront.checkout.hints.sepaLegal.creditorId"|trans }}</td>
    </tr>
    <tr>
        <td>{{ "ratepay.storefront.checkout.hints.sepaLegal.mandateReferenceLabel"|trans }}</td>
        <td>{{ "ratepay.storefront.checkout.hints.sepaLegal.mandateReferenceValue"|trans }}</td>
    </tr>
</table>
